---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
  <h1>Ideo Flora</h1>
  <p>
 En esta página encontrais la flora de nuestro centro educativo. 
  </p>
</BaseLayout>