<div id="menu">
  <!-- Aquí irá el listado de opciones -->
  <ul>
    <li>
      <a href="/arts">Catálogo de especies</a>
    </li>
    <li>
      <a href="/arts">Acerca de</a>
    </li>
    <li>
      <a href="/about">Blog</a>
    </li>
    <li>
      <a href="/contact">Contacto</a>
    </li>
  </ul>
</div>